<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:lv="http://typo3.org/ns/TYPO3/CMS/Linkvalidator/ViewHelpers" data-namespace-typo3-fluid="true">

<f:debug title="out">{out}</f:debug>

<f:comment>
    ---------- DISABLED -----------
    DRAFT 1

    <div class="resultBox">
        <h3><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:report.statistics.header" /></h3>
        <table class="table">
            <tr>
                <td><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:overviews.nbtotal" /></td>
                <td>{totalCount}</td>
                <td>&nbsp;</td>
            </tr>
            <f:for each="{linkTypeResults}" as="linkTypeResult">
                <tr>
                    <td>
                        <!-- This needs to be checked if localLang overrides work here -->
                        <f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:hooks.{linkTypeResult.type}" />
                    </td>
                    <td>{linkTypeResult.count}</td>
                    <td><a class="btn btn-primary" href="#">Rescan all <f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:hooks.{linkTypeResult.type}" /></a></td>
                </tr>
            </f:for>
        </table>
    </div>
    ----------------------------------
</f:comment>

<f:comment>
    ---------- DISABLED -----------

    <table class="table">
        <tr>
            <f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:overviews.nbtotal" />
            {totalCount}
        </tr>
        <f:for each="{linkTypeResults}" as="linkTypeResult">
            <tr>
                <td>
                    <!-- This needs to be checked if localLang overrides work here -->
                    <f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:hooks.{linkTypeResult.type}" />
                </td>
                <td>{linkTypeResult.count}</td>
                <td>
                    <a class="btn btn-primary" href="#">Rescan all <f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:hooks.{linkTypeResult.type}" />
                    </a>
                </td>
            </tr>
        </f:for>
    </table>

     ---------------------------------
</f:comment>

<div class="resultBox">
  {showCount} / {totalCount}
</div>

<!-- see LinkValidator.ts -->
<a href="#" class="btn btn-primary refresh">Refresh</a>

<a href="#" class="btn btn-primary scanall">Full rescan</a>

<a href="#" class="btn btn-primary scanincremental">Incremental rescan</a>


    <f:if condition="{previousPage} != -1">
        previous page
    </f:if>

    <f:if condition="{nextPage} != -1">
        next page
    </f:if>




<div id="t3js-linkvalidator-ajaxresults"></div>

<f:if condition="{results}">
    <f:then>
        <f:comment>
            <h3><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.header"/></h3>
        </f:comment>
        <hr/>
        <table class="table table-striped table-hover" id="linkvalidator-broken-links-table">
            <thead>
            <tr>
                <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.element"/></th>

                <f:comment>
                    path
                    <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.path"/></th>
                </f:comment>
                <f:comment>
                    <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.headlink"/></th>
                </f:comment>
                <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.linktarget"/></th>
                <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.linkmessage"/></th>
                <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.lastcheck"/></th>
                <th><f:translate key="LLL:EXT:linkvalidator/Resources/Private/Language/Module/locallang.xlf:list.tableHead.actions"/></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{results}" as="result">
                <tr>
                    <td>
                        <core:icon identifier="mimetypes-x-content-text-picture" />
                        <f:comment>
                            <core:icon identifier="mimetypes-other-other" />
                        </f:comment>
                        {result.headline}
                        <f:comment>(lang={result.record_sys_language_uid})</f:comment>
                    </td>
                    <f:comment>
                        path
                        <td>{result.path}</td>
                    </f:comment>
                    <td>
                        <core:icon identifier="overlay-external-link" />
                        <a href="{result.url}" target="_blank">{result.link_title}</a>:
                        <br/>
                        <a href="{result.url}" target="_blank">{result.url}</a>
                    </td>
                    <td>
                        <core:icon identifier="overlay-warning" />
                        {result.errormessage}
                    </td>
                    <td><f:format.date format="d.m.Y h:m">{result.last_check}</f:format.date></td>
                    <f:comment>todo: add action buttons, see viewhelper in redirects + https://review.typo3.org/c/55838/</f:comment>
                    <td>
                        <a class="btn-group">
                            <f:comment>Add language for page</f:comment>
                            <f:link.external
                                    class="btn btn-default"
                                    uri="{lv:recordAction(command: 'view', uid: result.record_uid, pid: result.record_pid, table: result.table_name, sys_language_uid: result.record_sys_language_uid)}"
                                    target="_blank">
                                <core:icon identifier="actions-view-page" />
                            </f:link.external>

                            <f:comment>
                                TODO: we can't use link.external here because viewhelper returns URL with wrong domain?
                                check this!
                            </f:comment>
                            <f:comment>
                                <f:link.external class="btn btn-default" uri="{lv:recordAction(command: 'edit', uid: result.record_uid, pid: result.record_pid, table: result.table_name)}"
                                   title="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}">
                                    <core:icon identifier="actions-open" />
                                </f:link.external>
                            </f:comment>
                            <a class="btn btn-default"
                               onclick="$().ready(function() {alert('loaded');});"
                               href="{lv:recordAction(command: 'edit', uid: result.record_uid, pid: result.record_pid, table: result.table_name, field: result.field)}"
                               title="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}">
                                <core:icon identifier="actions-open" />
                            </a>

                            <f:comment>TODO: create and insert language key here</f:comment>
                            <a class="btn btn-default"
                               href=""
                               title="Recheck link">
                                <core:icon identifier="actions-synchronize" />
                            </a>
                            <a class="btn btn-default"
                               href="{lv:recordAction(command: 'editlink', uid: result.record_uid, pid: result.record_pid, table: result.table_name, field: result.field)}"
                               title="Edit Link"
                                >
                                <core:icon identifier="overlay-external-link" />
                            </a>
                        </div>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:then>
    <f:else>
        No broken links found
    </f:else>
</f:if>
